<!-- Theme Search bars Field + header -->
<ion-grid no-padding>
  <ion-row>
    <ion-col col-12>
      <div background-size class="container-hearder-image">
        <div class="search-bar-bcg">
          <h2 search-bar-title>Suas trajetórias</h2>
        </div>
      </div>
    </ion-col>
    <!-- List -->
        <ion-grid no-padding>
          <ion-row *ngIf="trackList?.length > 0">
            <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 *ngFor="let track of trackList">
              <ion-card card-bcg text-left class="card" (click)="selectTrack(track)"><!--(click)="onEvent('onItemClick', item.title, $event)">-->
                <!--Card-content-->
                <ion-card-content>
                  <ion-card-title no-padding>
                    <h2 card-title>São Paulo</h2>
                    <h2 card-title>Trajeto {{track.trackId}}</h2>
                  </ion-card-title>
                  <!--<h3 card-subtitle>{{profile.service}}</h3>-->
                  <h3 card-subtitle>20/07/2017</h3>
                  <!--<p card-body-text>{{profile.description}}</p>-->
                  <!---Social share-->
                  <div right class="social">
                    <ion-icon>
                      <i icon-small class="icon-thumb-up"></i>
                    </ion-icon>
                    <ion-icon>
                      <i icon-small class="icon-heart"></i>
                    </ion-icon>
                    <ion-icon>
                      <i icon-small class="icon-share-variant"></i>
                    </ion-icon>
                  </div>

                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

      <!-- Fab Button
      <ion-fab #fab bottom right>
        <button button-ion-fab ion-fab (click)="onEvent('onFab', data, $event)">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>-->
